# Jekyll files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler and dependency cache files
.bundle/
vendor/
.gem/
mkmf.log

# Python virtual environment and execution caches
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
